body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/fundal2.jpg);
    background-size: cover;
    color: #333;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity here */
}

.introduction, .services, .contact {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity here */
    padding: 10px;
    border-radius: 10px;
}

h1, h2 {
    animation: fadeIn 2s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity here */
    border-radius: 10px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

